*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #404040;
    /*border: 5px solid #99976f;*/
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}
h1{
    font-size: 40px;
    font-weight: 700;
    color: #128870;
}
/*Nieodwiedzony link*/
a:link{
    color: #ffffff;
}
/*Odwiedzony link*/
a:visited{
    color: #ffffff;
}
/*Link po najechaniu kursorem*/
a:hover{
    color: red;
}
#container {
    height: 100%;
    width: 100%;
}
/*w tym wypaku niepotrzebny zapis, gdyż koniec zawarty w footer*/
#container:after {
    clear: both;
    content: "";
    display: none;
}
#logo {
    background-color: yellow;
    letter-spacing: 3px;
    margin-top: 20px;
    opacity: 0.8;
    padding: 20px;
    text-align: center;
}
#menu {
    background-color: #303030;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
}
#topbar {
    background-color: #128870;
    color: #ffffff;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
}
#topbarL {
    border-right: 2px dotted #cccccc;
    float: left;
    padding: 10px;
    text-align: center;
    width: 164px;
}
#topbarR {
    float: left;
    font-size: 25px;
    padding: 20px;
    text-align: justify;
}
#topbar:after {
    clear: both;
}
#nav {
    background-color: #303030;
    border-right: 2px dotted #666666;
    float: left;
    min-height: 660px;
    padding: 15px;
    width: 11%;
}
#content {
    background-color: lightblue;
    border-right: 2px dotted #666666;
    color: black;
    float: left;
    height: 660px;
    padding: 15px;
    text-align:justify;
    width: 78%;
}
#ad {
    background-color: #303030;
    float: left;
    width: 11%;
    height: 660px;
    padding-top: 10px;
    text-align: center;
}
#footer {
    clear: both;
    color: #666666;
    font-size: 18px;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.option {
    border-right: 2px dotted #444444;
    float: left;
    font-size: 18px;
    height: 25px;
    min-width: 100px;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
}
.option:hover {
    background-color: #000000;
    cursor: pointer;
}
.optionL {
    border-bottom: 2px dotted #444444;
    font-size: 18px;
    height: 25px;
    padding: 20px;
}
.optionL:hover {
    background-color: #f36742;
    color: white;
}
